<header class="header d-flex justify-content-between align-items-center">
  <div class="d-flex align-items-center">
    <img
      src="logo-lumier-2.svg"
      alt="Logo"
      class="img-fluid me-2"
      width="40"
    />
  </div>
  <div class="dropdown">
    <button
      class="btn btn-link dropdown-toggle btn-menu"
      variant="link"
      id="dropdownMenuButton"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      no-caret
    >
      <i class="fa-solid fa-user"></i>
      <span>Lumier Prueba</span>
    </button>
    <ul
      class="dropdown-menu dropdown-menu-end"
      aria-labelledby="dropdownMenuButton"
    >
      <li><a class="dropdown-item"><i class="fa-solid fa-pencil me-3"></i>Editar perfil</a></li>
      <li><a class="dropdown-item"><i class="fa-solid fa-arrow-right-from-bracket me-3"></i>Cerrar sesión</a></li>
    </ul>
  </div>
</header>
