.card {
  border-color: #e2e8f0;
  border-radius: 12px;
  box-shadow: 0px 2px 15px rgba(221, 224, 255, 0.54);

  .text-title {
    color: #334155;
    font-weight: 500;
    font-size: 21px;
  }

  .text-description {
    color: #64748b;
    margin-top: 1px;
    font-size: 14px;
  }
}
